*{
	margin: 0;
	padding: 0;
}


.register{
		height: 100vh;
		background-color: purple;
		display: flex;
		align-items: center;
		justify-content: center;
		
		.card{
			width: 50%;
			background-color: aliceblue;
			display: flex;
			flex-direction: row-reverse;
			border-radius: 10px;
			min-height: 600px;
			overflow: hidden;

			.left{
				 flex: 1;
				 color: wheat;
				 background:linear-gradient(rgb(45, 45, 129,0.5),rgb(80, 16, 91)) ,url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600") center;
				 background-size: cover;
				 padding: 50px;
				 display: flex;
				 flex-direction: column;
				 gap: 30px;


				h1{

						font-size: 90px;
						line-height: 100px;
					
				}

				p{

				}
				span{
					font-size: 18px;

				}

				button{
					width: 50%;
					background-color: aliceblue;
					padding: 10px;

					cursor: pointer;



				}
			}


				.right{
						flex:1;
						padding: 50px;
						display: flex;
						flex-direction: column;
						gap: 40px;
						justify-content: center;

					h1{


					}
					form{

						display: flex;
						flex-direction: column;
						gap: 30px;

						input{
							 border: none;
							padding: 20px;
							border-bottom: 1px solid lightslategray;
						}

						button{
							width: 50%;
							padding: 10px;
							background-color: none;
							cursor: pointer;

						}
					}
				}

		}

}