<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	
		<header class="main-header">
			<nav class="main-header_nav">
				<ul class="main-header_item-list">
					<li class="item"><a href="/">SHOP</a></li>
					<li class="item"><a href="admin/add-product"> ADD PRODUCT</a></li>
					<li><a href="/contactus">Contact Us</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<h1>My porducts</h1>
			<p>List of all the products.......</p>
		</main>

</body>
</html>